<!DOCTYPE html>
<html lang='en'>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width' initial-scale=1.0>
    <meta http-equic='X-UA-Compatible' content='ie=edge'>
    <title>Hello, World!!!</title>
<body>

    <h1><b>What is this?</b></h1>
    <p>Welcome to our Flask App!</p>

    <h1>Where would you like to go?</h1>

    <form action="/about" method="get">
        <button>About Page</button>
    </form>
    <form action="/team" method="get">
        <button>Meet the Team!</button>
    </form>

    <form action="/data" method="get">
        <button>See the Data!</button>
    </form>
</body>
</html>
