<!DOCTYPE html>
<html lang='en'>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width' initial-scale=1.0>
    <meta http-equic='X-UA-Compatible' content='ie=edge'>
    <title>ABOUT</title>
<body>

    <h1>What is this?</h1>
    <p>
        The purpose of this application is to display data pertaining to the second-generation
        project for <a href="https://www.findur.city/">Find Your City</a>, an application where
        you can learn, compare, and receive recommendations on cities across the United States!

        Within this Flask API, we will display multiple facets within the data which one could
        take into account when searching for their particular city which include, but, are not
        limited to statistics concerning: Heart Disease (leading cause of death), COVID-19 cases
        and deaths, and many population statistics.
    </p>
</body>
</html>