<!DOCTYPE html>
<html lang='en'>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width' initial-scale=1.0>
    <meta http-equic='X-UA-Compatible' content='ie=edge'>
    <title>ABOUT</title>
<style>
    table, th, td {
        border: 1px solid black;
    }
    td {
        text-align: center;
    }
</style>
<body>

    <h1>Who are we?</h1>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th colspan="2">Cohort</th>
      </tr>
      <tr>
          <td>Kelly Moreira - (Team Lead)</td>
          <td>WEB/CS</td>
          <td>LABSPT11-TL</td>
      </tr>
      <tr>
        <td>Arturo Obregon</td>
        <td>DSPT3</td>
        <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Ashley Gaskins</td>
        <td>DSPT3</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>James Barciz</td>
        <td>DSPT3</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Pedro Escobedo</td>
        <td>DSPT3</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Ana Tulea</td>
        <td>WEBPT11</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Brian Leonard</td>
        <td>WEBPT11</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Conary Beckford</td>
        <td>WEBPT11</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Sean Birmingham</td>
        <td>WEBPT11</td>
          <td>LABSPT11</td>
      </tr>
      <tr>
        <td>Shanda Woods</td>
        <td>WEBPT11</td>
          <td>LABSPT11</td>
      </tr>
    </table>
</body>
</html>
